@import './base.css';

@font-face {
  font-family: 'DINPro';
  src: url('./fonts/DINPro.ttf');
}

@font-face {
  font-family: 'EchoRevival';
  src: url('./fonts/19180.otf');
}

#app {
  font-family: DINPro, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('./img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.fill {
  width: 100%;
  height: 100%;
}

.base-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade2-enter-active,
.fade2-leave-active {
  transition-delay: 0.5s;
  transition: opacity 0.5s ease;
}

.fade2-enter-from,
.fade2-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 1rem;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.close-button {
  background: white;
  cursor: pointer;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  border: 1px solid black;
  margin-top: auto;
  /* align-self: flex-end; */
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.tablet {
  position: relative;
  height: 30vh;
  border: 1vh rgb(7, 80, 35) solid;
  border-top-width: 3vh;
  border-bottom-width: 4vh;
  border-radius: 4%;
  aspect-ratio: 5/7;
  cursor: pointer;
  background: #333;
}

.tablet:after {
  content: '';
  display: block;
  height: 12%;
  position: absolute;
  left: 50%;
  top: 109%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
  border: 0.5vh solid rgb(77 157 28);
  aspect-ratio: 1/1;
}

.tablet .screen {
  width: 360px;
  height: 400px;
  background: white;
}
